[submodule "libcamiface"]
	path = libcamiface
	url = git://github.com/motmot/libcamiface.git
[submodule "FlyMovieFormat"]
	path = FlyMovieFormat
	url = git://github.com/motmot/flymovieformat.git
[submodule "FastImage"]
	path = FastImage
	url = git://github.com/motmot/fastimage.git
[submodule "doc"]
	path = doc
	url = git://github.com/motmot/doc.git
[submodule "realtime_image_analysis"]
	path = realtime_image_analysis
	url = git://github.com/motmot/realtime_image_analysis.git
[submodule "flytrax"]
	path = flytrax
	url = git://github.com/motmot/flytrax.git
[submodule "fview"]
	path = fview
	url = git://github.com/motmot/fview.git
[submodule "pycamiface"]
	path = pycamiface
	url = git://github.com/motmot/pycamiface.git
[submodule "pygarrayimage"]
	path = pygarrayimage
	url = git://github.com/motmot/pygarrayimage.git
[submodule "pygxinput"]
	path = pygxinput
	url = git://github.com/motmot/pygxinput.git
[submodule "wxglvideo"]
	path = wxglvideo
	url = git://github.com/motmot/wxglvideo.git
[submodule "wxvideo"]
	path = wxvideo
	url = git://github.com/motmot/wxvideo.git
[submodule "imops"]
	path = imops
	url = git://github.com/motmot/imops.git
[submodule "fview_periodic_trigger"]
	path = fview_periodic_trigger
	url = git://github.com/motmot/fview_periodic_trigger.git
[submodule "fview_change_trigger"]
	path = fview_change_trigger
	url = git://github.com/motmot/fview_change_trigger.git
[submodule "utils"]
	path = utils
	url = git://github.com/motmot/utils.git
[submodule "wxvalidatedtext"]
	path = wxvalidatedtext
	url = git://github.com/motmot/wxvalidatedtext
[submodule "fview_ext_trig"]
	path = fview_ext_trig
	url = git://github.com/motmot/fview_ext_trig.git
[submodule "fview_histogram"]
	path = fview_histogram
	url = git://github.com/motmot/fview_histogram.git
[submodule "ufmf"]
	path = ufmf
	url = git://github.com/motmot/ufmf.git
[submodule "strokelitude"]
	path = strokelitude
	url = git://github.com/motmot/strokelitude.git
[submodule "strokelitude-jfi-emulator"]
	path = strokelitude-jfi-emulator
	url = git://github.com/motmot/strokelitude-jfi-emulator.git
